<!DOCTYPE html>
<html>
  <head>
    <title>Mercadao</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
<script src="/javascripts/jquery-1.10.2.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script>
	$(function() {
		var socket = io.connect(document.URL);

		socket.on("connect", function() {
			console.log("Conectado");
		});

		socket.on("disconnect", function() {
			console.log("Desconectado");
		});

		socket.on("connecting", function() {
			console.log("conectando...");
		});

		socket.on("error", function() {
			console.log("deu ereo !");
		});

		socket.on("reconnecting", function() {
			console.log("terntando reconectar");
		});

		socket.on("logout", function(email) {
			console.log("deslogando o usuario " + email);
			$(".produto-a-venda").each(function (i, element) {
				var div = $(element);

				if(div.data("email")==email) {
					div.remove();
				}

			});
		});

		socket.on("novo-produto-disponivel", function(produto) {
			console.log("recebido novo produto ");
			console.log(produto);

			var conteudo = produto.nome+" por "+ produto.preco+" de "+produto.email;

			var div = $("<div class='produto-a-venda' />");
			div.attr("data-email", produto.email);
			div.html(conteudo);

			$("#ultimo-produto-disponivel").html(div);
			$("#todos-os-produtos").append(div.clone());
		});

		$("#login").submit(function(event) {
			var email = $("#email").val();
			var senha = $("#senha").val();
			var categoria = $("#categoria").val();
			var usuario = {
				"email" : email,
				"senha" : senha,
				"categoria" : categoria,
			};
			socket.emit("login", usuario, function (dados) {
				if(dados.sucesso) {
					$("#login").hide();
					$("#area-novo-produto").show();
				}
				$("#mensagem-login").html(dados.mensagem);
			});

			console.log("Login")
			event.preventDefault();
		});

		$("#novo-produto").submit(function(event) {
			var nome = $("#nome").val();
			var preco = $("#preco").val();
			var produto = {
				"nome" : nome,
				"preco" : preco
			};
			console.log("Cadastrando "+nome+" "+preco);
			socket.emit("novo-produto", produto);
			event.preventDefault();
		});
	});	
	</script>
  </head>
  <body>
	<form id="login">
		<input type="text" id="email" placeholder="Digite seu e-mail">
		<input type="password" id="senha">
		<input id="categoria" type="text" placeholder="Categoria de seu interesse">
		<input type="submit" value="login">
	</form>
	<div id="mensagem-login" ></div>
	<h1>Todos os Produtos</h1>
	<div id="todos-os-produtos"></div>
	<h1>Último produto disponível</h1>
	<div id="ultimo-produto-disponivel"></div>
	<div id="area-novo-produto">
	    <h1>Novo produto</h1>
		<form id="novo-produto">
			<input id="nome" type="text" placeholder="Nome do Produto">
			<input id="preco" type="number" placeholder="Preco do Produto">
			<input type="submit" value="cadastrar">
		</form>
	</div>
  </body>
</html>
